version: '1.0'

services:
  postgres:
    image: postgres:14-alpine
    container_name: order_db
    restart: always
    environment:
      POSTGRES_USER: user          
      POSTGRES_PASSWORD: password  
      POSTGRES_DB: order_engine_db  
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data 

  redis:
    image: redis:latest
    container_name: order_redis
    restart: always
    ports:
      - "6379:6379" 
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: