version: '1.0'

services:
  app:
    build: . 
    container_name: order_execution_engine_app
    command: node dist/index.js
    ports:
      - "3000:3000" 
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      DATABASE_URL: postgres://user:password@postgres:5432/order_engine_db
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/usr/src/app

  postgres:
    image: postgres:14-alpine
    container_name: order_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: order_engine_db
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: order_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: